@model IEnumerable<WebApplication1.Models.BangSanPham>

@{
    ViewBag.Title = "QuanLySanPham";
}

<h2>Quản Lý Sản Phẩm</h2>

<p>
    @Html.ActionLink("Thêm Sản Phẩm", "Create")
</p>
<table class="table" id="DanhSachSanPham">
    <thead>
        <tr>
            <th>
                Mã Sản Phẩm
            </th>
            <th>
                Tên Sản Phẩm
            </th>
            <th>
                Giá Bán
            </th>
            <th>
                Giá Gốc
            </th>
            <th>
                Giá Trả Góp
            </th>
            <th>
                Số Lượng Tồn
            </th>
            <th>
                Loại Sản Phẩm
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {


            <tr>
                <td>
                    @item.MaSP
                </td>
                <td>
                    @item.TenSP
                </td>

                <td>
                    <img src=""@Url.Action("Details", new{ id = item.id})" alt="" />
                </td>

                <td>
                    @item.GiaGoc
                </td>
                <td>
                    @item.GiaBan
                </td>
                <td>
                    @item.GiaGop
                </td>
                <td>
                    @item.SoLuongTon
                </td>
                <td>
                    @item.LoaiSanPham.TenLoai
                </td>
                <td>
                    <div>
                        <a href="@Url.Action("Edit",new { id=item.id })">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a> |

                        <a href="@Url.Action("Delete",new { id=item.id })">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a> |

                        <a href="@Url.Action("Details", new { id = item.id })">
                            <span class="glyphicon glyphicon-book"></span>
                        </a> |
                    </div>
                    

                   
                </td>
            </tr>


        }
    </tbody>

</table>

@section scripts{

    <script src="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#DanhSachSanPham').DataTable();
    });
</script>
}